<?xml version="1.0"?>
<!--
/**
 * @author Aurélien Millet
 * @link https://github.com/aurmil/magento-disable-newsletter-notifications
 * @license https://github.com/aurmil/magento-disable-newsletter-notifications/blob/master/LICENSE.md
 */
-->
<config>
    <modules>
        <Aurmil_DisableNewsletterNotifications>
            <version>1.0.0</version>
        </Aurmil_DisableNewsletterNotifications>
    </modules>
    <global>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>Aurmil_DisableNewsletterNotifications_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <helpers>
            <aurmil_disablenewsletternotifications>
                <class>Aurmil_DisableNewsletterNotifications_Helper</class>
            </aurmil_disablenewsletternotifications>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <aurmil_disablenewsletternotifications>
                    <files>
                        <default>Aurmil_DisableNewsletterNotifications.csv</default>
                    </files>
                </aurmil_disablenewsletternotifications>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <newsletter>
            <subscription>
                <success_email_send>0</success_email_send>
                <un_email_send>0</un_email_send>
            </subscription>
        </newsletter>
    </default>
</config>
